body{
  font-family: Arial;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #dc3545 !important;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #dc3545;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.btn-custom {
  border: 2px solid #dc3545;
  color: #dc3545;
  background: transparent;
  font-weight: 600;
  transition: 0.3s;
}

.btn-custom:hover {
  background: #dc3545;
  color: white;
}

.slider-img{
  height:500px;
  object-fit:cover;
}

.card img{
  height:200px;
  object-fit:cover;
}

.tech img{
  height:60px;
  margin:10px;
}

.header-top{
  background:#222;
  color:white;
  padding:5px;
  font-size:14px;
}

.banner-text{
  background:rgba(0,0,0,0.5);
  padding:20px;
}

.footer-big{
  background:#333;
  color:white;
  padding:40px 0;
}

.footer{
  background:#111;
  color:white;
  padding:10px;
  text-align:center;
}

.zoom-img {
  transition: transform 0.3s ease;
  cursor: zoom-in;
  display: block;
  width: 100%;
}

.zoom-img:hover {
  transform: scale(1.1);
  z-index: 10; /* ensure it overlays other elements */
  position: relative;
}

.main-img{
  height:350px;
  width:100%;
  object-fit:cover;
  border-radius:8px;
}

.gallery-img{
  height:100px;
  width:100%;
  object-fit:cover;
  border-radius:6px;
}

.col-4 {
  overflow: visible; /* default Bootstrap uses overflow:hidden in some cases */
}